body {
    background-image: url('back2.png');
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 27%;
    height: 500px;
}

@media (max-width: 768px) {
    .container {
    width: 100%;
    }
    ul#winnersList span{
        font-size: 14px;

    }

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    display: none; /* Mặc định ẩn nút */
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}

#winnersList {
    list-style: none;
    padding: 0;
    max-height: 300px; /* Chiều cao tối đa của danh sách */
    overflow-y: auto;  /* Thêm thanh cuộn dọc khi nội dung vượt quá chiều cao */
    border: 1px solid #ddd;
    border-radius: 4px;
}


#winnersList li {
    text-align: left;
    font-size: 20px;
    margin: 15px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#winnersList li:last-child {
    border-bottom: none; /* Xóa đường viền dưới của mục cuối cùng */
}
